.html{
    overflow-x: hidden!important;
    overflow-y: scroll!important;
}

body{
    margin-top: 10px;
    margin-bottom: 20px;
    background: url('./images/backgroundPic.jpg') no-repeat center fixed;
    background-size: cover;
}

#container{
    position:relative;
    text-align: center;
}

.accomplishmentCards{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectBox{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px #e6eeff;
    background-color: #e6eeff;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

