#icon{
    width: 100px;
 height: 100px;
 border-radius: 50%;
}

body{
    background: url('./images/backgroundPic.jpg') no-repeat center fixed;
    background-size: cover;
    overflow-y: auto;
}

#container{
    position:relative;
    text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

